# Home Assistant internals and secrets
secrets.yaml
.secrets.yaml
.storage/
.cloud/
home-assistant_v2.db
*.db
*.db-shm
*.db-wal
.backups/
backups/
media/

# OS / editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/

# SSH keys
id_ed25519*
*.pub
githubssh*
